<h1>Books</h1>
  <% @books.each do |book| %>
    <div class="book-div">
      <img class="book-cover" src="/<%= book.cover %>" /><br />
      <a href="/book/<%= book.id %>"><%= book.title %>
    </div>
  <% end %>
